[submodule "Websites/Blog/themes/hello-friend"]
	path = Websites/Blog/themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "Websites/Blog/themes/hello-friend-ng"]
	path = Websites/Blog/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
